@model List<Menu>


@foreach (var dish in Model)
{
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@dish.DishName</h5>
            <p class="card-text">@dish.Description</p>
            <p class="card-text">@dish.Price</p>
        </div>
    </div>
}