html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow-x: hidden;
}


.scroll-down-text {
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.fade-out {
    opacity: 0; /* Fade out effect */
}


/*Header*/

/* Hover effect for all nav items */
.nav-item .nav-link:hover {
    background-color: gray;
    border-radius: 5px;
    color: #333;
}
