html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Header*/

/* Style for the active page */
.nav-item.active .nav-link {
    background-color: #f0e68c; /* Add a background color to show the active view */
    border-radius: 5px; /* Rounded corners */
    color: #000; /* Text color for active item */
}

/* Hover effect for all nav items */
.nav-item .nav-link:hover {
    background-color: #dcdcdc; /* Lighter background on hover */
    border-radius: 5px; /* Consistent rounded corners */
    color: #333; /* Change text color slightly on hover */
}

/* Optionally, make the active state more visible */
.nav-item.active .nav-link:hover {
    background-color: #e0c56c; /* A slight change on hover to indicate the active state */
}

.custom-navbar {
    height: 80px; /* Set your desired height */
    padding: 0 20px; /* Optional: Add horizontal padding */
}

.custom-navbar .navbar-brand {
    height: 100%; /* Center brand vertically */
    display: flex;
    align-items: center;
}
